.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 24px;
  padding: 20px;
  width: 100%;
  min-width: 294px;

  margin: 0 auto;
  padding-bottom: 48px;
  padding-top: 48px;
  position: relative;
  z-index: auto;
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  line-height: 1;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.closeBtn svg {
  width: 32px;
  height: 32px;
  transition: stroke 0.2s ease;
}

.closeBtn:hover svg path {
  stroke: #e53935;
}

.error {
  font-size: 12px;
  color: #e53935;
  margin-top: 4px;
  font-weight: 500;
  font-family: var(--font-lato);
}

.title {
  font-family: var(--font-comfortaa);
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 12px;
  color: #000;
  margin: 0;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.input,
.textarea,
.select {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  background-color: rgba(0, 0, 0, 0.05);
  border: 2px solid rgba(255, 255, 255, 0);
}
.multiSelectWrapper {
  background-color: rgba(0, 0, 0, 0.05);
}

.input:focus,
.textarea:focus,
.select:focus {
  border-color: #ffb6c1;
  box-shadow: 0 0 0 3px rgba(255, 182, 193, 0.2);
}

.textarea {
  height: 250px;
  resize: vertical;
}

.select {
  height: 44px;
  cursor: pointer;
}

.submitBtn {
  background: #ffdae0;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;

  border-bottom: 4px solid var(--color-scheme-accent);
  border-radius: 100px;
  height: 42px;

  box-shadow: 0 4px 0 #f5a9b8;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.submitBtn:hover,
.submitBtn:focus {
  background: #ffffff;
  box-shadow: 0 4px 0 #b2b2b2;
}

.submitBtn:active {
  background: #b2b2b2;
  transform: translateY(2px);
}

.submitBtn:disabled {
  background: #ffdae0;
  box-shadow: 0 4px 0 #e5bfc4;
  cursor: not-allowed;
}

.multiSelectWrapper {
  position: relative;
  width: 100%;
}

.multiSelectTrigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  padding: 8px 12px;
  border: transparent;
  border-radius: 12px;

  cursor: pointer;
}

.placeholder {
  color: #aaa;
}

.arrow {
  font-size: 12px;
  margin-left: 8px;
}

.dropdown {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
  min-height: 100px;
  background: #f7f7f7;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  z-index: 10;

  scrollbar-width: thin;
  scrollbar-color: #ffcbd3 rgba(0, 0, 0, 0.2);
}

.dropdown::-webkit-scrollbar {
  width: 6px;
}

.dropdown::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}

.dropdown::-webkit-scrollbar-thumb {
  background-color: #ffcbd3;
  border-radius: 4px;
  min-width: 10px;
  border: 2px solid #ffcbd3;
}

.item {
  border-radius: 8px;
  padding: 8px 12px;
  width: 640px;
  height: 38px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* padding: 6px; */
}

/* .selected {
  border: 1px solid var(--opacity-transparent);
  border-radius: 100px;
  padding: 4px 10px;
  width: 84px;
  height: 30px;
} */

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 8px;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 160%;
  color: #000000;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tag {
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 2px 8px;
  font-size: 12px;
}

.multiSelectTrigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 44px;
  padding: 12px 14px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.arrow {
  margin-left: auto;
  font-size: 14px;
  color: #333;
}

.dateIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  fill: rgba(0, 0, 0, 0.6);
}

.checkboxLabel input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #bbb;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
}

.checkboxLabel input[type="checkbox"]:checked {
  background-color: #000000;
  stroke: #e0e0e0;
}

.checkboxlabelinput[type="checkbox"]:checked:after {
  border-color: #000000;
  position: absolute;
  color: #fff;
  font-size: 12px;
  top: 0;
  left: 2px;
}

@media (min-width: 768px) {
  .submitBtn {
    background: #ffdae0;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;

    border-bottom: 4px solid var(--color-scheme-accent);
    border-radius: 100px;
    width: 268px;
    height: 42px;
    margin: auto;
  }
  .closeBtn {
    top: 32px;
    right: 32px;
  }
  .closeBtn svg {
    width: 32px;
    height: 32px;
  }

  .form {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .title {
    font-size: 36px;
  }
}

@media (min-width: 1440px) {
  .form {
    border-radius: 40px;
    padding: 64px;
    max-width: 768px;
    margin: auto;
  }

  .closeBtn {
    top: 35px;
    right: 36px;
  }
  .closeBtn svg {
    width: 28px;
    height: 28px;
  }
  .title {
    font-size: 48px;
  }
  .label {
    font-size: 16px;
  }
  .input {
    font-size: 16px;
  }
  .textarea {
    font-size: 16px;
  }
  .multiSelectTrigger {
    font-size: 16px;
  }
  .error {
    font-size: 14px;
  }
  .submitBtn {
    font-size: 16px;
    width: 268px;
    height: 46px;
  }
}
