
.mainContent {
  display: flex;
  flex-direction: column;  
  width: 100%;
}


.wrapper {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
} 
.logo {
  padding-bottom: 14px;
  padding-top: 14px;  
 }
.title {
  font-weight: 700;
  font-size: 36px;
  font-family: "Comfortaa", sans-serif;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  padding-top: 30px;
 }
.imageWrapper {
  display: none;
}

@media screen and (min-width: 768px){
.title {
  padding-top: 110px;
  width: 480px;
} 
}
 @media screen and (min-width: 1440px){
  .mainContent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}
.wrapper {
  min-width: 720px;
  padding: 0 120px;
}
.title {
  padding-top: 57px;
  }

.imageWrapper {
  display: block;
}

.image {
  border-radius: 12px;
} 
 }