.wrapper {
  background-color: #fff5f7;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  width: 335px;
  padding: 16px;
  height: auto;
  padding-top: 32px;
}
.header {
  display: flex;
  align-items: center;
  gap: 62px;
  padding-bottom: 50px;
}

.desc_btn {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title {
  margin: 0;
  font-family: var(--font-comfortaa);
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.01em;
  display: flex;
  flex-wrap: wrap;
}

.description {
  font-family: var(--font-lato);
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.01em;
}

.addBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: none;
  background-color: #fff4f6;
  cursor: pointer;
  transition: background 0.2s ease;
}

.addBtn:hover {
  background-color: #ffe1e6;
}

@media (min-width: 768px) {
  .wrapper {
    background-color: #fff5f7;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    border-radius: 32px;
    padding: 24px 16px;
    width: 704px;
    height: auto;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 430px;
  }

  .desc_btn {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    background-color: #fff5f7;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    border-radius: 32px;
    padding: 24px 16px;
    width: 357px;
    height: 727px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #ffcbd3 rgba(0, 0, 0, 0.2);
  }

  .wrapper::-webkit-scrollbar {
    width: 6px;
  }

  .wrapper::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  .wrapper::-webkit-scrollbar-thumb {
    background-color: #ffcbd3;
    border: 2px solid #ffcbd3;
    border-radius: 4px;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 84px;
  }

  .desc_btn {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .tag {
    background: #ffdae0;
    border-radius: 12px;
    padding: 2px 12px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #ddd;
  }
}

/* LI */
.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.item {
  background: #ffe6ea;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.link {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.entryTitle {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  margin: 0;
  max-width: 225px;
  height: auto;
}

.date {
  font-size: 12px;
  margin-left: auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  display: flex;
  flex-wrap: nowrap;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  background: #fff4f6;
  border-radius: 12px;
  padding: 2px 12px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #ddd;
}
.item_1 {
  padding: 0;
  list-style: none;
}
