.wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 16px;
  margin-bottom: 16px;
}

.item {
  flex: 1;
  background: #fff4f6;
  border-radius: 32px;
  padding: 16px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 6px;
}

.value {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  font-family: "Comfortaa", sans-serif;
}

@media (min-width: 768px) {
  .wrapper {
    gap: 32px;
    margin-bottom: 32px;
  }

  .item {
    padding: 16px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    width: 642px;
  }

  .label {
    font-size: 16px;
    margin-bottom: 4px;
  }
  .value {
    font-size: 56px;
  }
}
