.mainWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.lastWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.appLayout {
  display: flex;
}

.sidebar {
  display: none;
}

@media screen and (min-width: 768px) {
  .firstWrapper {
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .mainWrapper {
    padding: 0 32px 32px;
  }
  .innerWrapper {
    flex-direction: row;
    gap: 32px;
  }
  .sidebar {
    display: block;
  }

  .appLayout {
    display: flex;
    width: 1440px;
    margin: 0 auto;
    align-items: center;
  }
}
