
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btnGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  width: 100%;
  max-width: 100%; 
  margin: 0 auto 16px;
  height: 42px;
  background-color: #FFF4F6;
  border-radius: 100px;
  gap: 4px;
}

.btnActive,
.btnInactive {
  flex: 1 1 auto; 
  font-family: "Lato", sans-serif;
  min-width: 0;
  height: 42px;
  padding: 8px 14px;
  border-radius: 100px;
  font-weight: 500;
  line-height: 1.6;
  font-size: 14px;
  border: 1px solid transparent;
  background: transparent;
  white-space: nowrap;
}

.btnActive {
  background: #FFDAE0;
  border-color: #FFDAE0;
}


.cardContainer{
  display: flex;
  flex-direction: column;
  gap: 24px;
}


@media (min-width: 768px){
 
  .btnActive,
  .btnInactive {
    flex: 0 0 auto;        
  }
  .btnActive {  
    width: 348px; 
  }

  .btnInactive {
    width: 348px; 
  }
}

@media (min-width: 1440px){
  .container {
    padding-bottom: 73px;
  }
  .btnGroup{
    width: 572px;
    max-width: 572px;     
  }
  .btnActive  {  
    width: 295px; 
  }
  .btnInactive {
    width: 273px; 
  }

}