.container {
  border-radius: 32px;
  background-color: #fff4f6;
  padding: 24px;
  margin-bottom: 24px;
}

.title {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  margin-bottom: 16px;
}

.picture {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  margin-bottom: 16px;
}

.infoBlock p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  padding-bottom: 2px;
}

.infoBlock p strong {
  font-weight: 700;
}

.development {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .content {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
  }
  .picture {
    width: 257px;
    height: 194px;
    margin-bottom: 0;
  }

  .infoBlock p {
    padding-bottom: 3px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 642px;
    height: 422px;
    padding: 24px 24px 34px;
  }

  .title {
    font-size: 24px;
  }

  .infoBlock {
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: #ffcbd3 rgba(0, 0, 0, 0.2);
  }

  .infoBlock::-webkit-scrollbar {
    width: 6px;
  }

  .infoBlock::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .infoBlock::-webkit-scrollbar-thumb {
    background-color: #ffcbd3;
    border-radius: 4px;
    border: 2px solid #ffcbd3;
  }

  .infoBlock p {
    font-size: 16px;
  }

  .development {
    font-size: 16px;
    height: 96px;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: #ffcbd3 rgba(0, 0, 0, 0.2);
  }

  .development::-webkit-scrollbar {
    width: 6px;
  }

  .development::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .development::-webkit-scrollbar-thumb {
    background-color: #ffcbd3;
    border-radius: 4px;
    border: 2px solid #ffcbd3;
  }
}
