.wrapper {
  background-color: #ffffff;
}

.container {
  border-radius: 32px;
  background-color: #fff4f6;
}

.title {
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #000;
  padding: 24px 24px 16px;
}

.imageBlock {
  text-align: center;
}

.imageBlock img {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 24px;
  margin-bottom: 16px;
}

.infoBlock p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #000;
  padding-bottom: 5px;
}

.infoBlock p strong {
  font-weight: 700;
  color: #000;
}

.development {
  font-size: 15px;
  line-height: 1.5;
  color: #333;
  padding: 0 24px;
  padding-bottom: 24px;
}

.content {
  padding: 24px;
}

@media (min-width: 768px) {
  .wrapper {
    width: 768px;
    height: auto;
    border-radius: 0;
  }

  .container {
    width: 704px;
    height: 389px;
  }

  .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    padding-top: 0;
  }

  .imageBlock {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .imageBlock img {
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .infoBlock p {
    width: 383px;
  }

  .infoBlock {
    padding-top: 47px;
  }

  .development {
    padding-bottom: 24px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    width: 674px;
    height: auto;
  }

  .container {
    width: 642px;
    height: 422px;
  }

  .title {
    font-size: 24px;
  }

  .imageBlock img {
    height: 194px;
  }

  .infoBlock {
    padding-top: 29px;
  }

  .infoBlock p {
    width: 321px;
    font-size: 16px;
  }

  .infoBlock p strong {
    font-size: 16px;
  }

  .development {
    padding-bottom: 24px;
    font-size: 16px;
  }
}
