
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.logo {
  padding-bottom: 14px;
  padding-top: 14px;
}

.title {
  font-family: var(--font-comfortaa);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 220px;
}

.control {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  position: relative;              
}


.input {
  border: 2px solid transparent; 
  border-radius: 12px;
  padding: 12px 14px; 
  background: rgba(0, 0, 0, 0.05);
  font-size: 14px;
  line-height: 1.5;
  transition: border-color 0.2s ease, background-color 0.2s ease;
  outline: none; 
  width: 100%;
  height: 37px;
}

.input:focus {
  border-color: #ffcbd3;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #f2f2f2 inset !important;
  -webkit-box-shadow: 0 0 0px 1000px #f2f2f2 inset !important;
  -webkit-text-fill-color: #000 !important; 
  transition: background-color 5000s ease-in-out 0s; 
}


.submitButton {
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  padding: 10px 24px;
  background-color: #ffdae0;
  border: none;
  border-bottom: 4px solid #FFCBD3;
  border-radius: 100px;
  transition: background-color 0.2s ease;
  width: 100%;
  height: 41px;
}

.submitButton:hover,
.submitButton:focus {
  background-color: #fff4f6;                   
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15); 
}

.submitButton:active {
  background-color: #ffcbd3;  
  box-shadow: none;            
  transform: translateY(2px);  
}

.submitButton:disabled {
  background: #ffdae0;              
  border-bottom: 4px solid #ffcbd3; 
  opacity: 0.5;                     
  color: rgba(0, 0, 0, 0.4);       
  cursor: not-allowed;              
  box-shadow: none;                 
  transform: none;                 
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 24px;
  gap: 5px;
}
.contenText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}
.link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
}

.errorText {
  margin-top: 4px;
  margin-left: 8px;
  font-size: 10px;   
  line-height: 1.2;
  color: #c60000;  
  font-weight: 400;
}

.inputError {
  border: 1px solid #c60000;
  background: rgba(0, 0, 0, 0.05);
}

.imageWrapper {
  display: none;
}


@media only screen and (min-width: 768px) {
.form {
  align-items: center;
}

.title {
  margin-top: 280px;
}

.input {
  width: 480px;
}

.submitButton {
  width: 480px;
}

.imageWrapper {
  display: none;
}
}

@media only screen and (min-width: 1440px){
.main {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 64px;
  padding: 0;
}

.title {
  margin-top: 266px;
}

 .logo {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 0;
}

.input {
  height: 40px;
}

.submitButton {
  height: 44px;
}

.imageWrapper {
  display: block;
}






}




