.mainContent {
  display: flex;
  flex-direction: column;  
  width: 100%;
  /* margin: 0 auto; */
}

.wrapper{
  align-items: center;
  justify-content: center; 
}

.logo {
  padding-bottom: 14px;
  padding-top: 14px;
}

.title {
  font-family: var(--font-comfortaa);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
  padding-top: 222px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24px;
  width: 100%;
}

.control {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  gap: 8px;
  transition: border-color 0.2s;
}

.input {
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.05);
  font-size: 14px;
  line-height: 1.5;
  transition: border-color 0.2s ease, background-color 0.2s ease;
  outline: none;
  width: 100%;
  height: 37px;
}

.input:focus {
  border-color: #ffcbd3;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  background-color: #ffdae0;
  border: none;
  border-bottom: 4px solid #ffcbd3;
  border-radius: 100px;
  transition: background-color 0.2s ease;
  width: 100%;
  height: 41px;
}

.submitButton:hover,
.submitButton:focus {
  border-bottom: 4px solid rgba(0, 0, 0, 0.15);
  background-color:  #fff4f6;
}

.submitButton:active {
  background-color:  #ffcbd3;
  box-shadow: none;
  transform: translateY(2px);
}

.submitButton:disabled {
  background: #ffdae0;
  border-bottom: 4px solid #ffcbd3;
  opacity: 0.5;
  color: rgba(0, 0, 0, 0.4);
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  font-weight: 400;
  font-size: 14px;
  text-align: center; 
}

.link {
  text-decoration: none;
  text-decoration-skip-ink: none;
}

.link:hover,
.link:focus {
  text-decoration: underline;
}

.link:active {
  text-decoration: underline;
  border-bottom: 1px solid #ffcbd3;
  color: #ffcbd3;
  transform: translateY(1px); 
}
.link:disabled {
  text-decoration: none;
  opacity: 0.3;
  color: #b2b2b2;
  cursor: not-allowed;
}
.errorText {
  min-height: 1px;
  color: #dc3545;
  font-size: 12px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 0;
  transition: opacity 0.2s ease;
}

.inputError {
  border-color: red;
  color: red;
}

.inputError::placeholder {
  color: red;
}
.labelError {
  color: red;
}

.imageWrapper {
  display: none;
}

@media only screen and (min-width: 768px) {
 .input {
  height: 37px;
  min-width: 480px;
}
.title {
  padding-top: 280px;
}
}


@media only screen and (min-width: 1440px) {
   .mainContent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}

.wrapper {
  min-width: 720px;
  padding: 0 120px;
}
.form {
  width: 480px;
}
.title {
  padding-top: 266px;
  font-size: 48px;

}
.imageWrapper {
  display: block;
  
}
.image {
  border-radius: 12px;
} 

}


