
.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper{
  width: 100%;

}
.formTitle {
  font-weight: 700;
  font-size: 36px;
  font-family: "Comfortaa", sans-serif;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 32px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  gap: 8px;
  transition: border-color 0.2s;
}

.input {
  padding: 8px 12px;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 40px;
  transition: background-color 0.2s ease;
}
.inputError {
  border-color: red;
  color: red;
}

.inputError::placeholder {
  color: red;
}
.labelError {
  color: red;
}
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #f2f2f2 inset !important;
  -webkit-box-shadow: 0 0 0px 1000px #f2f2f2 inset !important;
  -webkit-text-fill-color: #000 !important; 
  transition: background-color 5000s ease-in-out 0s; 
}
.input:focus {
  border: 2px solid #ff96d5;
  outline: none;
  background-color: #fff;
}
.input:active {
  border: 2px solid #ffcbd3;
  background-color: rgba(0, 0, 0, 0.05);
}
.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  background-color: #ffdae0;
  border-bottom: 4px solid #ffcbd3;
  width: 100%;
  height: 46px;
  border-radius: 100px;
  transition: background-color 0.2s ease;
}

.submitButton:hover {
  background-color: #fff4f6;
}
.submitButton:focus {
  background-color: #fff;
}
.submitButton:active {
  background-color: #ffcbd3; 
  border-bottom: 2px solid #ffb3bf; 
  transform: translateY(1px); 
}
.submitButton:disabled {
  background-color: #b2b2b2;
  cursor: not-allowed;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  font-weight: 400;
  font-size: 14px;
  text-align: center; 
}

.link {
  text-decoration: none;
  text-decoration-skip-ink: none;
}
.link:hover,
.link:focus {
  text-decoration: underline;
}
.link:active {
  background-color: #ffcbd3; 
  text-decoration: underline;
  border-bottom: 1px solid #ffcbd3;
  color: #ffcbd3;
  transform: translateY(1px); 
}
.link:disabled {
  text-decoration: none;
  opacity: 0.3;
  background-color: #b2b2b2;
  cursor: not-allowed;
}
.errorText {
  min-height: 1px;
  color: #dc3545;
  font-size: 12px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 0;
  transition: opacity 0.2s ease;
}
.imageWrapper {
  display: none;
}


@media only screen and (max-width: 768px) {
.input {
  height: 37px;
}
}


@media only screen and (min-width: 1440px) {
.mainContent {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 64px;
  }
.input{
  width: 480px;
}
.imageWrapper {
  display: block;
}

.image {
  border-radius: 12px;
} 
}